includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    parallel:
        maximumNumberOfProcesses: 4

    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor-bin/tools/vendor/autoload.php

