parameters:
	ignoreErrors:
		-
			message: "#^Call to method Symfony\\\\Component\\\\HttpFoundation\\\\Request\\:\\:hasSession\\(\\) will always evaluate to true\\.$#"
			count: 1
			path: src/Action/LoginAction.php

		-
			message: "#^Parameter \\#1 \\$username of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:activate\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ActivateUserCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ActivateUserCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ActivateUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:changePassword\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Parameter \\#2 \\$password of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:changePassword\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 2
			path: src/Command/ChangePasswordCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#2 \\$password of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#3 \\$email of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#5 \\$superadmin of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:create\\(\\) expects bool, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 3
			path: src/Command/CreateUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method Nucleos\\\\UserBundle\\\\Util\\\\UserManipulator\\:\\:deactivate\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/DeactivateUserCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/DeactivateUserCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/DeactivateUserCommand.php

		-
			message: "#^Parameter \\#3 \\$username of method Nucleos\\\\UserBundle\\\\Command\\\\RoleCommand\\:\\:executeRoleCommand\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/RoleCommand.php

		-
			message: "#^Parameter \\#5 \\$role of method Nucleos\\\\UserBundle\\\\Command\\\\RoleCommand\\:\\:executeRoleCommand\\(\\) expects string, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/RoleCommand.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|string\\|null given\\.$#"
			count: 2
			path: src/Command/RoleCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$node of method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\Configuration\\:\\:addResettingSection\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$node of method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\Configuration\\:\\:addGroupSection\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Parameter \\#1 \\$node of method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\Configuration\\:\\:addServiceSection\\(\\) expects Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition, Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition given\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Property Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:\\$doctrineDrivers type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:remapParameters\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:remapParameters\\(\\) has parameter \\$map with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:remapParametersNamespaces\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:remapParametersNamespaces\\(\\) has parameter \\$namespaces with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:loadResetting\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\DependencyInjection\\\\NucleosUserExtension\\:\\:loadGroups\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NucleosUserExtension.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Doctrine\\\\GroupManager\\:\\:findGroupBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Doctrine/GroupManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Doctrine\\\\GroupManager\\:\\:findGroupBy\\(\\) should return GroupTemplate of Nucleos\\\\UserBundle\\\\Model\\\\GroupInterface\\|null but returns object\\|null\\.$#"
			count: 1
			path: src/Doctrine/GroupManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Doctrine\\\\GroupManager\\:\\:findGroups\\(\\) should return array\\<GroupTemplate of Nucleos\\\\UserBundle\\\\Model\\\\GroupInterface\\>&array\\<Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\> but returns array\\<object\\>\\.$#"
			count: 1
			path: src/Doctrine/GroupManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Doctrine\\\\UserManager\\:\\:findUserBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Doctrine/UserManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Doctrine\\\\UserManager\\:\\:findUserBy\\(\\) should return Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\|null but returns object\\|null\\.$#"
			count: 1
			path: src/Doctrine/UserManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Doctrine\\\\UserManager\\:\\:findUsers\\(\\) should return array\\<Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\> but returns array\\<object\\>\\.$#"
			count: 1
			path: src/Doctrine/UserManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\EventListener\\\\FlashListener\\:\\:trans\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EventListener/FlashListener.php

		-
			message: "#^Call to method Symfony\\\\Component\\\\HttpFoundation\\\\Request\\:\\:hasSession\\(\\) will always evaluate to true\\.$#"
			count: 2
			path: src/EventListener/LocaleEventListener.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\Group\\:\\:__construct\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Group.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\Group\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Group.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\GroupInterface\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/GroupInterface.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\GroupManagerInterface\\:\\:findGroupBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/GroupManagerInterface.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\User\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/User.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\UserInterface\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/UserInterface.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Model\\\\UserManagerInterface\\:\\:findUserBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/UserManagerInterface.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Noop\\\\GroupManager\\:\\:findGroupBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Noop/GroupManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Noop\\\\UserManager\\:\\:findUserBy\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Noop/UserManager.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Security\\\\UserProvider\\:\\:loadUserByUsername\\(\\) has parameter \\$username with no typehint specified\\.$#"
			count: 1
			path: src/Security/UserProvider.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Security\\\\UserProvider\\:\\:supportsClass\\(\\) has parameter \\$class with no typehint specified\\.$#"
			count: 1
			path: src/Security/UserProvider.php

		-
			message: "#^Offset 0 does not exist on array\\|string\\|null\\.$#"
			count: 2
			path: tests/DependencyInjection/NucleosUserExtensionTest.php

		-
			message: "#^Offset 1 does not exist on array\\|string\\|null\\.$#"
			count: 1
			path: tests/DependencyInjection/NucleosUserExtensionTest.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Tests\\\\DependencyInjection\\\\NucleosUserExtensionTest\\:\\:getEmptyConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/DependencyInjection/NucleosUserExtensionTest.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Tests\\\\DependencyInjection\\\\NucleosUserExtensionTest\\:\\:getFullConfig\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/DependencyInjection/NucleosUserExtensionTest.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Tests\\\\Model\\\\UserManagerTest\\:\\:getUserManager\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Model/UserManagerTest.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Tests\\\\Routing\\\\RoutingTest\\:\\:testLoadRouting\\(\\) has parameter \\$methods with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Routing/RoutingTest.php

		-
			message: "#^Method Nucleos\\\\UserBundle\\\\Tests\\\\Routing\\\\RoutingTest\\:\\:loadRoutingProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Routing/RoutingTest.php

