{% extends "@NucleosUser/layout.html.twig" %}

{% trans_default_domain 'NucleosUserBundle' %}

{% block nucleos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
