{% trans_default_domain 'NucleosUserBundle' %}

{{ form_start(form, { 'action': path('nucleos_user_change_password'), 'attr': { 'class': 'nucleos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
