name: "Automatic Releases"

on:
  milestone:
    types:
      - "closed"

jobs:
  run:
    uses: "nucleos/actions/.github/workflows/automatic-release.yml@main"
    secrets:
      GIT_AUTHOR_NAME: "${{ secrets.GIT_AUTHOR_NAME }}"
      GIT_AUTHOR_EMAIL: "${{ secrets.GIT_AUTHOR_EMAIL }}"
      GITHUB_REPO_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      GITHUB_ADMIN_TOKEN: "${{ secrets.ORGANIZATION_ADMIN_TOKEN }}"
      SIGNING_SECRET_KEY: "${{ secrets.SIGNING_SECRET_KEY }}"

